@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yll44u');
  src:  url('fonts/icomoon.eot?yll44u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yll44u') format('truetype'),
    url('fonts/icomoon.woff?yll44u') format('woff'),
    url('fonts/icomoon.svg?yll44u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-pause-circle:before {
  content: "\e908";
}
.icon-play-circle:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-calulator:before {
  content: "\e904";
}
.icon-engineer:before {
  content: "\e905";
}
.icon-gears:before {
  content: "\e906";
}
.icon-graduation-hat:before {
  content: "\e907";
}
